---
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap"
        rel="stylesheet"
      />
    </noscript>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Piano Theory</title>
    <meta
      name="description"
      content="Piano Theory is an app to help you practice and learn music theory such as note, scales, and chords. All this is done through quizzes using a virtual piano to test your knowledge. Accelerate your learning and become a better musician by using Piano Theory!"
    />
  </head>
  <body class="font-sans">
    <Nav />
    <main class="flex justify-center">
      <Hero />
    </main>
  </body>
</html>
