---
import screenshot from "../assets/iphone-video.mp4";
import JoinWaitlist from "./JoinWaitlist.astro";
---

<section
  class="flex md:flex-row flex-col items-center gap-10 md:my-40 my-20 max-w-[1000px]"
>
  <div class="flex flex-col gap-10 max-w-[600px] mx-6">
    <h1 class="text-5xl leading-[1.1] font-fredoka">
      Effortlessly Learn <span class="text-primary">Notes</span>, <span
        class="text-secondary">Chords</span
      >, and <span class="text-accent">Scales</span>
    </h1>
    <p class="text-lg">
      Dive into the world of music theory. Pick a topic, and see how quickly and accurately you
      can hit the right notes!
    </p>
    <JoinWaitlist />
  </div>
  <div class="mockup-phone min-w-64">
    <div class="display !mt-0">
      <video autoplay loop class="w-64 rounded-3xl overflow-hidden">
        <source src={screenshot} type="video/mp4" />
      </video>
    </div>
  </div>
</section>
