---
import JoinWaitlist from "./JoinWaitlist.astro";
---

<nav class="navbar mx-auto max-w-[1000px]">
  <div class="flex-1">
    <p class="text-xl font-bold">Piano Theory</p>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <JoinWaitlist />
    </ul>
  </div>
</nav>
